*{
  margin: 0;
  padding: 0;
}
.row{
  margin: 0 !important;
}
.col-md-8,.col-md-8{
  padding: initial !important;
}
.img{
  text-align: center;
  height: 730px;
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center;
}
.img h1{
  text-align: center;
  padding-top: 200px;
  color: #fff;
  font-size: 80px;
}
.partner{
  position:relative;
}
.partner img{
  width: 100px;
  margin: 0 5%;
  padding-top: 300px;
}
.form{
  height: 80%;
}
.menu{
  padding: 15px 20px 0;
  border-bottom: 2px solid #c200ff;
}
.menu button{
  background: transparent;
  border: none;
  outline: none !important;
  margin: 0 12px;
  padding: 0 10px 5px 10px;
}
.form-box{
  margin-top: 40px;
  text-align: center;
}
.form-box h1{
  margin-bottom: 30px;
  color: #c200ff;
}
.form-box input{
  margin-bottom: 40px;
  width: 50%;
  border: none;
  outline: none;
  padding: 5px 0;
  background: transparent;
  border-bottom: 1px solid #c200ff;
}
.form-box button{
  width: 50%;
  padding: 5px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #c200ff;
  color: #fff;
  font-weight: 600;
}
#register-tab{
  display: none;
}
#loginbtn{
  border-bottom: 4px solid #c200ff;
}
